* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
  margin: 0 auto;
}

.btn {
  color: white;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 36px;
  cursor: pointer;
}

/*main style  */
header {
  padding-top: 51px;
  /* background-color: #FFF8F3; */
  background:
    url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
  background-repeat: no-repeat;
  background-position:
    23px 38px,
    bottom right;
}
.nav-container {
  width: 71.25%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

#orange-text {
  color: #fd6e0a;
}

.menu {
  display: flex;
  gap: 51px;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #474747;
  font-size: 20px;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 46px 38px 0px 230px;
}

.hero .hero-content {
  max-width: 585px;
}

.hero-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}

.hero-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: black;
}

.hero-content p {
  font-size: 18px;
  line-height: 30px;
  color: #474747;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hero .white-btn {
  color: #fd6e0a;
  background-color: #fff8f3;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 36px;
  margin-left: 30px;
  cursor: pointer;
}

.hero-image img {
  max-width: 584px;
  /* display: block; */
  vertical-align: middle;
}

.about-me {
  width: 71.25%;
  max-width: 1140px;
  margin: 130px auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 157px;
  border: none;
  border-radius: 10px;
}

.about-me-content h2 {
  font-size: 35px;
  font-weight: bold;
}

.about-me p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  color: #757575;
  max-width: 827px;
}

.info-card-container {
  display: flex;
  justify-content: space-between;
}

.info-card h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.skill {
  width: 71.25%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill-text {
  text-align: center;
}

.skill-text h2 {
  font-size: 35px;
  font-weight: bold;
}

.skill-text p {
  max-width: 827px;
  margin: 30px auto 50px;
  color: #757575;
  font-size: 18px;
  line-height: 30px;
}

.skill-card-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.skill-card {
  max-width: 267px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #4747475d;
  padding: 30px;
  /* margin-bottom: 130px; */
}

.skill-card img {
  max-width: 44px;
}

.skill-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  max-width: 174px;
}

.skill-card p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

.resume {
  width: 71.25%;
  max-width: 1140px;
  margin: 0 auto;
}

.resume h2 {
  text-align: center;
  margin-top: 130px;
  font-size: 35px;
  font-weight: bold;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
}

.education h3,
.experience h3 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.education-card,
.experience-card {
  max-width: 558px;
  border: 2px solid #d1d1d1;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0 47px 30px 0;
  margin-top: 30px;
}

.education-card h4,
.experience-card h4 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
}

.education-card h5,
.experience-card h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #757575;
}

.education-card p,
.experience-card p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

#resume-button button {
  display: block;
  margin: 50px auto 0px auto;
  color: white;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px 36px;
  cursor: pointer;
}

footer {
  background-color: #fff8f3;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-top: 113px;
}

.footer-content {
  display: flex;
  gap: 116px;
  width: 71.25%;
  max-width: 1140px;
  margin: 0 auto;
  /* justify-content: space-between; */
}

.contact {
  max-width: 562px;
}

.contact h2,
.message-form h2 {
  font-size: 35px;
  font-weight: bold;
}

.contact p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  max-width: 562px;
}

.icon a {
  margin-right: 20px;
}

.message-form input,
.message-form textarea {
  margin-top: 28px;
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  background-color: white;
  display: block;
  border: none;
  border-radius: 5px;
  color: #757575;
  font-size: 16px;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 576px) {
  .skill-card-container,
  .footer-content,
  .resume-container {
    flex-direction: column;
  }

  .skill-text h2,
  .contact h2,
  .message-form h2,
  .about-me-content h2 {
    font-size: 30px;
  }

  .contact {
    width: 95%;
  }

  .about-me {
    max-width: 100%;
    margin: 30px auto;
    background-color: #fff8f3;
    padding: 5px 5px;
  }

  .about-me p {
    margin-top: 30px;
    max-width: 95%;
  }

  .info-card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .skill {
    max-width: 100%;
  }

  .skill-text p {
    max-width: 100%;
    text-align: center;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
  }

  .skill-card {
    max-width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #4747475d;
    padding: 30px;
    /* margin-bottom: 130px; */
  }

  footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 30px;
  }

  .message-form input,
  .message-form textarea {
    margin-top: 28px;
    width: 100%;
    padding: 15px 25px;
  }

  .resume {
    width: 75%;
  }

  .resume-container {
    margin-top: 10px;
  }

  .resume h2 {
    font-size: 30px;
    margin-top: 50px;
  }

  .education h3,
  .experience h3 {
    margin-top: 30px;
  }

  .nav-container {
    width: 95%;
    flex-direction: column;
    display: flex;
    gap: 20px;
  }

  .menu {
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    flex-direction: column;
    margin: 20px;
    text-align: center;
    gap: 20px;
  }

  .hero .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 45px;
  }

  .hero-image img {
    max-width: 100%;
  }

  .button-grp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  header {
    padding-top: 40px;
    background: url(../images/header_bg.png), #fff8f3;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right ;
}
}
